{% extends "store.html" %}

{% block title %}{{ category.name }}{% endblock %}

{% block breadcrumb %}
<li class="active">{{ category.name }}</li>
{% endblock %}

{% block content %}
<ul class="nav nav-pills">
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      Dropdown <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
    </ul>
  </li>
</ul>
{% include "product/_product_list.html" with products=products %}
<ul class="pagination">
  <li><a href="#">&laquo;</a></li>
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#">&raquo;</a></li>
</ul>
{% endblock %}