{% load category %}
<ul>
{% render_categories categories %}
    {% is_current node current as am_current %}
    {% if am_current %}
        {% if am_current == 'exact' %}
        <li class="current-exact">
        {% else %}
        <li class="current">
        {% endif %}
        <a href="{{ absolute_url }}">{{ node.name }}</a>
        {% if not node.is_leaf_node %}
            <ul>
                {{ children }}
            </ul>
        {% endif %}
    {% else %}
        <li><a href="{{ absolute_url }}">{{ node.name }}</a></li>
    {% endif %}
{% endrender_categories %}
</ul>