// Core variables and mixins
@import "base.less";

// Includes
@import "layouts/_layouts.less";


/* GLOBAL STYLES
-------------------------------------------------- */

@footer-bg : @body-bg;

body {
  padding: 60px 0;
  background: @footer-bg;
}

#site {
  background: @body-bg;
}

#page {
  padding-bottom: 60px;
}

.divider-lg {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

.divider-lg-top {
  margin-top: 80px;
}


/* Custom navigation bars
-------------------------------------------------- */

.navbar {
  border: none;
  padding: 5px 0;
  border-radius: 0;
  
  @media (min-width: 768px) {
    
    .navbar-collapse {
      padding: 0;
    }
    
    .navbar-right {
      margin-right: 0;
    }
    
    .navbar-nav {
      > li {
        > a {
          padding-top: 15px;
          padding-bottom: 15px;
          border-right: 1px @gray-light solid;
          font-size: @font-size-h4;
        }
        
        &:first-child {
          > a {
            border-left: 1px @gray-light solid;
          }
        }
      }
    }
  }
  
  // From https://raw.githubusercontent.com/geedmo/yamm3/master/yamm/yamm.less
  // reset positions 
  
  .nav, .collapse {
    position: static;
    
  }
  
  .dropdown, .dropup {
    
    &.flexible {
      position: static;
      
      &.full-width {
        // Full width menu
        .dropdown-menu {
          left: 0; right: 0;
          .box-shadow(0 3px 6px rgba(0,0,0,.175));
          border: none;
          border-top: 1px @gray-light solid;
          border-bottom: 1px @gray-light solid;
        }
        
        .dropdown-content {
          .container;
        }
      }
      
      // by default aligns menu to left
      .dropdown-menu {
        left: auto;
        border-radius: 0;
      }
      
      // Content with padding 
      .dropdown-content {
        padding: 20px 30px;
      }
    }
  }
  
  
  ul.category-list {
    .list-unstyled;
  
    a {
      text-decoration: none;
      display: block;
    }
  
    ul {
      .list-unstyled;
    }
  
    > li {
      .make-sm-column(3);
  
      > a:extend(.h4) {
        color: @brand-primary;
      }
  
      > ul {
        margin-top: 8px;
        border-top: 1px @gray-lighter solid;
        > li {
          > a:extend(.h5) {
            color: @gray;
  
            // Switch up margins with paddings
            margin: 0 !important;
            padding-top: (@line-height-computed / 2);
            padding-bottom: (@line-height-computed / 2);
  
            &:hover {
              background: @gray-lighter;
            }
          }
          + li {
            border-top: 1px @gray-lighter solid;
          }
        }
      }
    }
  }
}

.navbar-default {
  .navbar-nav {
    > li {
      > a {
        border-color: @navbar-default-border !important;
      }
    }
  }
}

.navbar-inverse{
  .navbar-nav {
    > li {
      > a {
        border-color: @navbar-inverse-border !important;
      }
    }
  }
}

#site-navigation {
  .cart-dropdown {
    min-width: 320px;
  }
  
  .login-dropdown {
    min-width: 300px;
  }
  
  .dropdown-menu {
    top: ~"calc(100% + 5px)";
  }
  
  .container {
    position: relative;
  }
}

#categories-navigation {
  border-bottom: 1px @navbar-default-border solid;
  
  .dropdown-menu {
    border-color: @navbar-default-border !important;
    background: darken(@navbar-default-bg, 2.5%);
  }
  
  .categories-dropdown {
    
  }
}


/* Custom carousel
-------------------------------------------------- */

#carousel {
  
  height: 460px;
  margin-bottom: 30px;
  
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .item {
    height: 460px;
    background-color: @gray-light;
  }
  
  .carousel-inner > .item > .bg {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 460px;
    background-size: cover;
    background-position: center center;
  }
  
  /* Outline button for use within the docs */
  .btn-outline {
    color: #fff;
    background-color: #fff;
    border-color: #fff;
  }
  .btn-outline:hover,
  .btn-outline:focus,
  .btn-outline:active {
    color: #000;
    background-color: #fff;
    border-color: #fff;
  }
  
  /* Inverted outline button (white on dark) */
  .btn-outline-inverse {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
  }
  
  .btn-outline-inverse:hover,
  .btn-outline-inverse:focus,
  .btn-outline-inverse:active {
    color: #000;
    text-shadow: none;
    background-color: #fff;
    border-color: #fff;
  }  
  
}

/* Site footer
-------------------------------------------------- */

#footer {
  background: @footer-bg;

  hr {
    border-color: @gray-light;
  }

  ul.brands {
    .list-unstyled;
    margin-bottom: 40px;
    li {
      display: inline-block;
      margin-right: 20px;
    }
  }

  ul.social {
    .list-unstyled;
    .list-inline;
  }

  ul.category-list {
    .list-unstyled;
    margin-bottom: 40px;

    a {
      text-decoration: none;
      display: block;
    }

    ul {
      .list-unstyled;
    }

    > li {
      .make-sm-column(3);

      > a:extend(.h4) {
        color: @gray;
      }

      > ul {
        border-top: 1px @gray-light dotted;
        > li {
          > a:extend(.h5) {
            color: @gray;
          }

          li {
            a {
              color: @gray-light;
            }
          }
        }
      }
    }
  }

  .footer-top {
    background: @brand-primary;
    color: #fff;
    margin-bottom: 40px;
    border-bottom: 2px @brand-success solid;
    padding: 4px;

    strong {
      color: @brand-success;
    }

    ul {
      .list-unstyled;
      > li:extend(.h5) {
        .make-sm-column(4);

        @media (min-width: 768px) {
          text-align: center;

          &:first-child {
            text-align: left;
          }

          &:last-child {
            text-align: right;
          }
        }
      }
    }
  }
}

/* Responsive css
-------------------------------------------------- */

@media (max-width: 768px){
  .carousel, .carousel-inner, .carousel .item {
     height: 300px;
   }
}

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-right: 0;
    padding-left: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left:  15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left:  0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: @border-radius-base;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}