{% load i18n %}
<table class="table">
  <tbody>
    {% for purchase in order %}
    <tr>
      <td class="col-sm-8">
        <div class="h5"><a href="{{ purchase.product.get_absolute_url }}">{{ purchase }}</a></div>
      </td>
      <td class="col-sm-4">
          <div class="h5">{{ purchase.total }}</div>
      </td> 
    </tr>
    {% endfor %}
    {% if order.shipment %}
    <tr>
      <td>
        <div class="h5">{{ order.shipment }}</div>
      </td>
      <td>
          <div class="h5">{{ order.shipment.costs }}</div>
      </td> 
    </tr>
    {% endif %}
    {% if order.payment %}
    <tr>
      <td>
        <div class="h5">{{ order.payment }}</div>
      </td>
      <td>
          <div class="h5">{{ order.payment.costs }}</div>
      </td> 
    </tr>
    {% endif %}
  </tbody>
  <tfoot>
    <tr class="success">
      <td><div class="h4">{% trans "Order total" %}</div></td>
      <td><div class="h4"><strong>{{ order.total }}</strong></div></td>
    </tr>
  </tfoot>
</table>
<blockquote>
<p>Alle prijzen incl. {{ order.total.context.tax}}</p>
</blockquote>