{% extends "checkout/base.html" %}
{% load widget_tweaks %}
{% block step %}
<form method="post" action="" role="form">{% csrf_token %}
  <div class="panel panel-default">
    <div class="panel-heading">Contact Information</div>
    <div class="panel-body">
      {% include "customer/_contactable_form.html" with form=contactable_form %}
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Shipping Address</div>
    <div class="panel-body">
      {% include "customer/_address_form.html" with form=shipping_address_form %}
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Billing Address</div>
    <div class="panel-body">
      {% include "customer/_address_form.html" with form=billing_address_form %}
    </div>
  </div>
  <input type="submit" value="Continue" class="btn btn-success"/>
</form>
{% endblock %}