{% extends "store/base.html" %}
{% load sellmo_pricing qty_pricing sellmo_cart variation %}

{% block body %}
	<h1>{{ product }}</h1>
	<h3>{{ product|price }}</h3>
	<div>
		<h4>Prices</h4>
		<table>
			<tbody>
				{% for tier in product|tiers %}
					<tr>
						<th>{{ tier.qty }}</th>
						<td>{{ product|price:tier.qty }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{% url 'product.details' product.slug as product_url %}
		{% if product|variations:True %}
			<ul>
			{% for grouped in product|variations:True %}
				<li>
					<h4>{{ grouped.attribute }}: {{ grouped.value }}</h4>
					<h5>{{ grouped.variant.sku }}</h5>
					{% add_to_cart_formset product=product variations=grouped.variations invalid=product_url %}
				</li>
			{% endfor %}
			</ul>
		{% else %}
			<div>
				{% add_to_cart_formset product=product invalid=product_url %}
			</div>
		{% endif %}
	</div>
{% endblock %}