{% extends "store/base.html" %}
{% load sellmo_pricing qty_pricing sellmo_cart variation %}

{% block body %}
	<h1>{{ product }}</h1>
	<h3>{{ product|price }}</h3>
	<div>
		<h4>Prices</h4>
		<table>
			<tbody>
				{% for tier in product|tiers %}
					<tr>
						<th>{{ tier.qty }}</th>
						<td>{{ product|price:tier.qty }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<ul>
		{% for variations in product|variations:True %}
			<li>
				<h4>{{ variations.0 }}: {{ variations.1 }}</h4>
				{% add_to_cart_formset product=product variations=variations.2 %}
			</li>
		{% endfor %}
		</ul>
		{% add_to_cart_formset product=product %}
	</div>
{% endblock %}