{% load widget_tweaks %}
<form method="post" action="{% url 'cart.edit_purchase' purchase.pk %}{% if query %}?{{ query }}{% endif %}">{% csrf_token %}
  <div class="row">
    <div class="col-xs-4">
      {% for field in form %}
       {% render_field field class+=field.name class+="form-control" %}
      {% endfor %}
    </div>
    <div class="col-xs-8">
      <button type="submit" name="update" value="Update" class="btn btn-default">
        <span class="glyphicon glyphicon-refresh"></span>
      </button>
      <button type="submit" name="remove" value="Remove" class="btn btn-danger">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
    </div>
  </div>
</form>