<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Sellmo skeleton</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
	</head>
	<body>
	   <div class="categories">
	       {% block category-list %}
	           {% load category %}
	           {% nested_categories as categories %}
	           {% include 'category/_category_list.html' with categories=categories current=category %}
	       {% endblock %}
	   </div>
	   <div class="cart">
	       {% block cart %}
	           {% load sellmo_cart %}
	           {% cart as cart %}
	           <a href={% url 'cart.cart' %}>{{ cart.total }}</a>
	       {% endblock %}
	   </div>
		{% block body %}
		
		{% endblock %}
	</body>
</html>