{% extends "store/base.html" %}
{% load sellmo_cart %}

{% block body %}
	<h1>Cart</h1>
	{% if cart %}
	<table>
		<thead>
			<th>Qty</th>
			<th>Product</th>
			<th>Price</th>
			<th>Total</th>
		</thead>
		<tbody>
		{% for purchase in cart %}
			<tr>
				<td>{% edit_purchase_form purchase=purchase %}</td>
				<th><a href="{% url 'product.details' purchase.product.slug %}">{{ purchase.description }}</a></th>
				<td>{{ purchase.price }} <small>({{ purchase.price.tax }} vat)</small></td>
				<td><b>{{ purchase.total }} <small>({{ purchase.total.tax }} vat)</small></b></td>
				<td>
					<form action="{% url 'cart.remove_purchase' purchase.pk %}">
						<input type="submit" value="Remove">
					</form>
				</td>
			</tr>
		{% endfor %}
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td><b>{{ cart.total }} <small>({{ cart.total.tax }} vat)</small></b></td>
		<tr>
		</tbody>
	</table>
	{% else %}
	<p>Shopping cart is empty</p>
	{% endif %}
{% endblock %}