{% extends "store/base.html" %}
{% load sellmo_cart %}

{% block body %}
	<h1>Cart</h1>
	<table>
		<thead>
			<th>Qty</th>
			<th>Product</th>
			<th>Price</th>
			<th>Total</th>
		</thead>
		<tbody>
		{% for purchase in cart %}
			<tr>
				<td>{% edit_cart_form purchase=purchase %}</td>
				<th>{{ purchase.description }}</th>
				<td>{{ purchase.price }} <small>({{ purchase.price.tax }} vat)</small></td>
				<td><b>{{ purchase.total }} <small>({{ purchase.total.tax }} vat)</small></b></td>
			</tr>
		{% endfor %}
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td><b>{{ cart.total }} <small>({{ cart.total.tax }} vat)</small></b></td>
		<tr>
		</tbody>
	</table>
{% endblock %}